/*WHATSAPP-RODAPÉ*/

.whats-link { position: fixed; bottom: 20px; right: 20px; display: block; cursor: pointer; z-index: 99999999; }

@keyframes pulseSunset{ 0% { transform: scale(1); }100% { transform: scale(1.2); } } .pulseSunset { animation: pulseSunset 2s infinite alternate cubic-bezier(0.4, 0, 1, 1); }

/* CARROSEL */

.rec.rec-arrow:hover {
  background-color: #A16695 !important;
}

.rec.rec-arrow:hover:enabled {
  background-color: #A16695 !important;
}

.rec.rec-arrow:focus:enabled {
  background-color: #A16695 !important;
}

.rec.rec-pagination{
  display: none;
}

.rec rec-arrow{
  width: 2.625rem !important;
  height: 2.625rem !important;
}

.rec.rec-arrow {
  min-width: 2.625rem !important;
  width: 2.625rem !important;
  line-height: 2.625rem !important;
  height: 2.625rem !important;
  font-size: 1rem;

  @media (max-width:600px){
    min-width: 1.5rem !important;
    width: 1.5rem !important;
    line-height: 1.5rem !important;
    height: 1.5rem !important;
    font-size: .65rem;
  }
}